 <div>   
    <form action="/business/password" method="POST">
        <lable> Enter Current password </lable> <br>
        Currect Password: <input type="password" name="old[password]"><br>
        <p>Password must have 8 or more characteres.</p>
        New Password: <input type="password" name="new[password]" ><br>
        
        Confirm Password: <input type="password" name="password"><br>
        <input type="submit" value="Save Change">
    </form>
    <p> <%= @message %> </p>
</div>