
<div class="topnav">
   <header> Invetory app </header>
   <p> Track all your sneakers in the stockroom.</p>
    <a href="/business/signup">Signup</a>
    <a href="/business/login">Login</a>
</div>  

